node_modules
.direnv
.envrc
.pulumi-state
.pulumi
bin
sdk
examples/**/.defang
examples/**/Pulumi.*.yaml
schema-defang.json
pulumi-resource-defang-aws
pulumi-resource-defang-azure
pulumi-resource-defang-gcp
.sdk.tmp.*/
.sdk.*.stamp
coverage.out
coverage_provider.out
coverage_tests.out
coverage.html
.claude/settings.local.json
